.root {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: color, background-color, opacity;
  @apply flex p-3 text-accent-9 items-center
  justify-center cursor-pointer font-bold
  bg-accent-0 text-sm;
  align-text: center;
}

.root:focus {
  @apply outline-none;
}

.inCart {
  @apply flex justify-center p-3 text-accent-9 items-center;
}

.icon {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: transform, fill;
  color: currentColor;
}

.icon.loading {
  fill: var(--pink-light);
}

.icon.inAddRemoveFromCart {
  fill: var(--pink);
}

@screen lg {
  .root {
    @apply p-4;
  }
}
